<div class="infor-form">
  <div class="wrapper">
    <!-- {{ model | json }} -->
    <form (ngSubmit)="onSubmit()" #inforForm="ngForm">
      <div class="grid">
        <div class="form-field">
          <label for="name">Name*</label>
          <input
            type="text"
            class="field"
            id="name"
            name="name"
            required
            #name="ngModel"
            [(ngModel)]="model.name"
            [hidden]="submitted"
          />
          <div *ngIf="name.errors?.['required']" class="field-error">
            Name is required.
          </div>
          <div class="field-value" *ngIf="submitted">
            {{ model.name }}
          </div>
        </div>

        <div class="form-field">
          <label for="email">Email*</label>
          <input
            type="text"
            class="field"
            id="email"
            name="email"
            required
            #email="ngModel"
            [pattern]="emailRegex"
            [(ngModel)]="model.email"
            [hidden]="submitted"
          />
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['required']" class="field-error">
              Email is required.
            </div>
            <div *ngIf="email.errors?.['pattern']" class="field-error">
              E-mail Address is invalid.
            </div>
          </div>
          <div class="field-value" *ngIf="submitted">
            {{ model.email }}
          </div>
        </div>

        <div class="form-field">
          <label for="contactNumber">Contact Number*</label>
          <input
            type="text"
            class="field"
            id="contactNumber"
            name="contactNumber"
            required
            #contactNumber="ngModel"
            [pattern]="contactRegex"
            [(ngModel)]="model.contactNumber"
            [hidden]="submitted"
          />
          <div
            *ngIf="
              contactNumber.invalid &&
              (contactNumber.dirty || contactNumber.touched)
            "
          >
            <div *ngIf="contactNumber.errors?.['required']" class="field-error">
              Contact number is required.
            </div>
            <div *ngIf="contactNumber.errors?.['pattern']" class="field-error">
              Contact Number should consist of 8 to 12 digits only.
            </div>
          </div>
          <div class="field-value" *ngIf="submitted">
            {{ model.contactNumber }}
          </div>
        </div>

        <div class="form-field">
          <label for="gender">Gender*</label>
          <select
            class="field"
            id="gender"
            required
            name="gender"
            #gender="ngModel"
            [(ngModel)]="model.gender"
            [hidden]="submitted"
          >
            <option selected disabled>-Select-</option>
            <option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </option>
          </select>
          <div class="field-value" *ngIf="submitted">
            {{ model.gender }}
          </div>
        </div>

        <div class="form-field full">
          <label for="notes">Notes*</label>
          <textarea
            class="field"
            id="notes"
            name="notes"
            required
            #notes="ngModel"
            [(ngModel)]="model.notes"
            [hidden]="submitted"
          >
          </textarea>
          <div *ngIf="notes.errors?.['required']" class="field-error">
            Notes is required.
          </div>
          <div class="field-value" *ngIf="submitted">
            {{ model.notes }}
          </div>
        </div>

        <div class="form-field full button">
          <button
            type="submit"
            class="btn-save"
            [disabled]="!inforForm.form.valid"
            *ngIf="!submitted"
          >
            Save
          </button>
          <button
            type="button"
            class="btn-edit"
            (click)="onEdit()"
            *ngIf="submitted"
          >
            Edit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
