.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333;
    color: #fff;

    & .top-bar__logo {
        width: 25px;
        height: 25px;
        margin-right: 5px;
        vertical-align: middle;
    }
}
